<!DOCTYPE html>

<html ng-app=''>

<head>
	<script src="https://code.angularjs.org/1.0.0rc3/angular-1.0.0rc3.min.js"></script>
	<link rel="stylesheet" type="text/css" href="todo.css">

	<script type="text/javascript" src='todo.js'></script>
</head>

<body>
	<section ng-controller='TodoCtrl'>
		<h2>Total todos: {{ totalTodos }}</h2>

		<ul class='todo list'>
			<li ng-repeat='todo in todos'>
				<input type='checkbox' ng-model='todo.done'>
				<span class="done-{{todo.done}}"> {{ todo.text }}</span>			
			</li>
		</ul>

		<form class='form'>
			<input type='text' ng-model='formTodoText' ng-model-instant>
			<button class='button' ng-click='addTodo()'><img class='add-icon' src='images/add.png'></img>Add</button>

		</form>

	</section>

</body>



</html>
