<!DOCTYPE html>

<html ng-app=''>

<head>
	<script src="https://code.angularjs.org/1.0.0rc3/angular-1.0.0rc3.min.js"></script>
	<script src='https://documentcloud.github.io/underscore/underscore-min.js'></script>
	<link rel="stylesheet" type="text/css" href="todo.css">
	<link rel="stylesheet" type="text/css" href="reset.css">

	<script type="text/javascript" src='todo.js'></script>
</head>

<body>
	<section ng-controller='TodoCtrl'>
		<header class='heading-container'>
			<h2 class='list-heading'>To Do: {{ getTotalTodos() }} items</h2>
		</header>

		<ul class='todo-list'>
			<li class='each-todo' ng-repeat='todo in todos'>
				<input type='checkbox' ng-model='todo.done'>
				<span class="done-{{todo.done}}"> {{ todo.text }}</span>			
			</li>
		</ul>

		<form class='form'>
			<input class='todo-input' type='text' ng-model='formTodoText' ng-model-instant>
			<button class='button' ng-click='addTodo()'><img class='add-icon' src='images/add2.png'></img>Add</button>
		</form>

		<button class='clear-button' ng-click='clearCompleted()'><img class='trash-icon' src='images/trash.png'>Clear Completed</button>

	</section>

</body>



</html>
