body {
	background-color: #F2E6CE;
	color: #1D1D1F;
}

/*--- List section ---*/
section.ng-scope {
	background-color: #FFF;
	margin-left: 40px;
	margin-top: 40px;
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 200;
	width: 35%;
	padding: 20px;
	border-radius: 3px;
}

.heading-container {
	text-align: center;
	margin-bottom: 10px;
}
	.list-heading {
		font-size: 22px;
		border-bottom: 1px solid #DEDEDE;
		padding-bottom: 14px;
	}

.todo-list {
	list-style-type: none;
	padding-left: 30px;
	margin: 30px 5px;
}

.done-true {
	text-decoration: line-through;
	color: gray;
}

/*--- Within the form ---*/
.form {
	display: flex;
}

.todo-input {
	height: 37px;
	font-size: 20px;
	border-radius: 2px;
	border: 1px solid #BDBDBD;
	background: #DEDEDE;
}
	.todo-input:focus {
		outline: 0;
		background: #FFF;
		transition: 0.15s ease-in-out;
	}	

.each-todo {
	margin: 5px;
}

.button {
	border: 1px solid #C5C4C4;
	background: linear-gradient(#F5F5F5, rgb(219, 219, 219));
	padding: 5px 10px;
	font-size: 18px;
	vertical-align: middle;
	line-height: 29px;
	border-radius: 2px;
	cursor: pointer;
	margin: 0px;
}
	.button:hover {
		background: linear-gradient(#ECECEC, rgb(190, 190, 190));
	}
	.button:active {
		position: relative;
		top: 1px;
	}
	.button:focus {
		outline: none;
	}
	.add-icon {
		padding-right: 6px;
		vertical-align: middle;
		margin-top: -4px;
		height: 12px;
	}



